@model Categoria
@{
    ViewData["Title"] = "AddDesenvolvedora";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section AddToHead{
	<link href="@Url.Content("~/css/admin.css")" rel="stylesheet" type="text/css" />
}

<div class="add-card-container add-card-sm">
	<form asp-action="AddDesenvolvedora">
		<div class="login-card m-5">			
			<div>
				<h1 class="AddText">Adicionar Desenvolvedora</h1>
			</div>
			<div>
				<label asp-for="Nome">Nome</label>
				<br>
				<input asp-for="Nome" type="text" placeholder="Enter Name">
			</div>
			<div>
				<button type="submit">Adicionar</button>
			</div>
		</div>
	</form>
</div>


