@model EspamaGS_2._0.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "AddFuncionarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section AddToHead{
	<link href="@Url.Content("~/css/admin.css")" rel="stylesheet" type="text/css" />
}

<div class="add-card-container pb-3 mb-5">
	<form asp-action="AddFuncionarios">
		<div class="login-card m-5">			
			<div>
				<h1 class="AddText">Adicionar Funcionários</h1>
			</div>
			<div>
				<label asp-for="Input.Email">Username</label>
				<br>
				<input asp-for="Input.Email" type="text" placeholder="Enter Username">
			</div>
			<div>
				<label asp-for="Input.Email">Nome</label>
				<br>
				<input asp-for="Input.Email" type="text" placeholder="Enter Name">
			</div>
			<div>
				<label asp-for="Input.Email">Email</label>
				<br>
				<input asp-for="Input.Email" type="text" placeholder="Enter Email">
			</div>
			<div>
				<label asp-for="Input.Password">Password</label>
				<br>
				<input asp-for="Input.Password" type="password" placeholder="Enter Password">
			</div>
			<div>
				<label asp-for="Input.ConfirmPassword">Confirmar Password</label>
				<br>
				<input asp-for="Input.ConfirmPassword" type="password" placeholder="Enter Password">
			</div>
			<div>
				<button type="submit">Adicionar</button>
			</div>
		</div>
	</form>
</div>



