
@{
    ViewData["Title"] = "LogsAdmins";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-white mb-5">Logs Administradores</h1>

<table class="table table-bordered table-hover table-dark">
	<thead>
	<tr>
		<th scope="col">ID</th>
		<th scope="col">Username</th>
		<th scope="col">ID Funcionário</th>
		<th scope="col">Username Funcionário</th>
		<th scope="col">Tipo</th>
		<th scope="col">Data</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">1</th>
		<td>EspamaMaster</td>
		<td>12</td>
		<td>ZaiduGod12</td>
		<td>Funcionário</td>
		<td>01/11/2022</td>
	</tr>
	<tr>
		<th scope="row">1</th>
		<td>EspamaMaster</td>
		<td>2</td>
		<td>SConceicao</td>
		<td>Administrador</td>
		<td>01/11/2022</td>
	</tr>
	</tbody>
</table>

