
@{
    ViewData["Title"] = "LogsFuncionarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-white mb-5">Logs Funcionarios</h1>

<table class="table table-bordered table-hover table-dark">
	<thead>
	<tr>
		<th scope="col">Administrador</th>
		<th scope="col">Novo Funcionário</th>
		<th scope="col">Tipo</th>
		<th scope="col">Data</th>
	</tr>
	</thead>
	<tbody>
	
	<tr>
		<td>EspamaMaster</td>
		<td>ZaiduGod12</td>
		<td>Funcionário</td>
		<td>01/11/2022</td>
	</tr>
	</tbody>
</table>

