
@{
    ViewData["Title"] = "LogsFuncionarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-white mb-5">Logs Funcionários</h1>

<table class="table table-bordered table-hover table-dark">
	<thead>
	<tr>
		<th scope="col">ID</th>
		<th scope="col">Username</th>
		<th scope="col">Telefone</th>
		<th scope="col">ID Jogo</th>
		<th scope="col">Jogo</th>
		<th scope="col">Data</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">1</th>
		<td>EspamaMaster</td>
		<td>918765431</td>
		<td>1</td>
		<td>Grand Theft Auto V</td>
		<td>01/11/2022</td>
	</tr>	
	<tr>
		<th scope="row">1</th>
		<td>EspamaMaster</td>
		<td>918765431</td>
		<td>1</td>
		<td>Grand Theft Auto V</td>
		<td>01/11/2022</td>
	</tr>

	</tbody>
</table>

