@using Microsoft.AspNetCore.Identity
@using EspamaGS_2._0.Data
@model IEnumerable<Funcionario>
@inject UserManager<IdentityUser> UserManager
@inject EspamaGSContext DbContext
@{
    ViewData["Title"] = "LogsFuncionarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-white mb-5">Logs Funcionarios</h1>

<table class="table table-bordered table-hover table-dark">
	<thead>
	<tr>
		<th scope="col">Administrador</th>
		<th scope="col">Novo Funcionário</th>
		<th scope="col">Tipo</th>
		<th scope="col">Data</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var func in Model) {
		<tr>
			<td>@func.IdAdminNavigation.IdUtilizador</td>
			<td>@func.IdUtilizador</td>
			@if(UserManager.IsInRoleAsync(DbContext.Users.First(c=> c.UserName == func.IdUtilizador), "Admin").Result){<td>Administrador</td>} else
			if(UserManager.IsInRoleAsync(DbContext.Users.First(c=> c.UserName == func.IdUtilizador), "Funcionario").Result){<td>Funcionário</td>}
			<td>@func.DataRegisto</td>
		</tr>
	}
	</tbody>
</table>

