
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white mb-5">Carrinho</h1>

<div class="align-content-center">
	<!--TEMPLATE-->
<div class="card centerdiv bg-dark text-white p-3">
<div class="row">
	<div class="col-sm-2 d-flex">
		<img class="maxheight" src="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/global/games/fob/1280/V.jpg" alt="">
	</div>
	<div class="col-sm-6 d-flex align-items-center">
		<div class="card-block align-items-center">
			<p class="m-0">Grand Theft Auto V</p>
			<div class="d-flex">
				<span class="badge rounded-pill bg-danger m-1 mb-2">Ação</span>
				<span class="badge rounded-pill bg-primary m-1 mb-2">PC</span>
			</div>
		</div>
	</div>
	<div class="col-sm-2 d-flex align-items-center justify-content-end"> 
		<p class="m-0">70.00 €</p>
	</div>
		<div class="col-sm-1 d-flex align-items-center justify-content-end"> 
			<a href="#" class="removefromcart">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
			</a>
		</div>
</div>
</div>	
	<!-- FIM TEMPLATE-->
</div>