@model IEnumerable<Preferencia>
@{
    ViewData["Title"] = "Categorias Preferidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["msg"] != null) {
	<div class="alert alert-success alert-dismissible fade show">
		@TempData["msg"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<div class="text-white favoritos-container bg-dark bg-opacity-75 p-4 pb-5">

<h1 class="mb-5">Categorias Preferidas</h1>

	<div>

<h2 class="mb-2">Categorias Selecionadas</h2>
@if (!Model.Any()) {
	<h5>Não tem nenhuma categoria preferida</h5>
} else {
	<ul>

@foreach (var item in Model) {
		<li>
			@item.IdCategoriaNavigation.Nome
			<a class="remover-favorito" asp-action="DeleteFavorito" asp-route-id="@item.IdCategoria">&times;</a>
		</li>
}
	</ul>
}
	</div>
	<div>

		<h2 class="mb-2 mt-2">Adicionar Categoria</h2>
		<h5 class="p-2">Duplo clique para adicionar</h5>
		<form asp-action="Favoritos"  method="post">
			<select name="id" class="favoritos-select form-control form-select bg-dark text-white" ondblclick="this.form.submit()" size="10" asp-items='new SelectList(ViewBag.Categorias, "Id", "Nome")'></select>
		</form>
	</div>
</div>
	

