@model IEnumerable<Preferencia>
@{
    ViewData["Title"] = "Categorias Preferidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-white favoritos-container bg-dark bg-opacity-75 p-4 pb-5">

<h1 class="mb-5">Categorias Preferidas</h1>

	<div>

<h2 class="mb-2">Categorias Selecionadas</h2>
@if (!Model.Any()) {
	<p>Não tem nenhuma categoria preferida</p>
} else {
	<ul>

@foreach (var item in Model) {
		<li>
			@item.IdCategoriaNavigation.Nome
		</li>
}
	</ul>
}
	</div>
	<div>

		<h2 class="mb-2 mt-2">Adicionar Categoria</h2>
		<h5 class="p-2">Duplo clique para adicionar</h5>
		<form asp-action="Favoritos"  method="post">
			<select name="id" class="favoritos-select form-control form-select" onclick="this.form.submit()" size="10" asp-items='new SelectList(ViewBag.Categorias, "Id", "Nome")'></select>
		</form>
	</div>
</div>
	

