@model Utilizador
@{
	Layout = null;
}

<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Admin Panel - EspamaGS</title>
	<link rel="stylesheet" href="/css/admin.css">

</head>
<body class="registerbody">
<div class="login-card-container">
	<form asp-action="Register">
		<div class="login-card">
			<div>
				<img class="logo" src="/img/EspamaGS.png">
			</div>
			<div>
				<label asp-for="Username">Username</label>
				<br>
				<input asp-for="Username" type="text" placeholder="Enter Username">
			</div>
			<div>
				<label asp-for="Nome">Nome</label>
				<br>
				<input asp-for="Nome" type="text" placeholder="Enter Name">
			</div>
			<div>
				<label asp-for="Email">Email</label>
				<br>
				<input asp-for="Email" type="text" placeholder="Enter Email">
			</div>
			<div>
				<label asp-for="Passwd">Password</label>
				<br>
				<input asp-for="Passwd" type="password" placeholder="Enter Password">
			</div>
			<div>
				<label>Confirm Password</label>
				<br>
				<input type="password" placeholder="Enter Password">
			</div>
			@if (TempData["errormsg"] != null) {
				<div>
					<p class="errormsg">@TempData["errormsg"]</p>
				</div>
			}
			<div>
				<button type="submit">Register</button>
			</div>
			<div class="create">
				Already have an account? <a asp-area="" asp-controller="Home" asp-action="Login">Log in to your account</a>
			</div>
			<div class="create">
				Wanna go back to the shop? <a asp-area="" asp-controller="Home" asp-action="Index">Click Here</a>
			</div>
		</div>
	</form>
</div>

</body>