@model UserSettings
@{
	ViewData["Title"] = "Definições";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white mb-5">Definições</h1>

<div class="SettingsContainer text-white">

<div class="form-check form-switch">
	<input class="form-check-input" type="checkbox" role="switch" id="CategoriasEmail" checked="@Model.EmailNotifications" onchange="MailNotifyChanged(this)">
	<label class="form-check-label" for="CategoriasEmail">Receber Notificação de Novos Jogos Inseridos de Categorias Preferidas Por Email</label>
</div>
</div>