
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white mb-5">Settings</h1>

<div class="SettingsContainer text-white">

<div class="form-check form-switch">
	<input class="form-check-input" type="checkbox" role="switch" id="CategoriasEmail">
	<label class="form-check-label" for="CategoriasEmail">Receber Notificação de Novos Jogos Inseridos de Categorias Preferidas Por Email</label>
</div>
<div class="form-check form-switch">
	<input class="form-check-input" type="checkbox" role="switch" id="AnimacoesFundo">
	<label class="form-check-label" for="AnimacoesFundo">Desligar Animações de Fundo</label>
</div>
</div>